<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 50px;
      }
      .form-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 15px;
      }
      .center-text {
      text-align: center;
      }
      .profile-image {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
  <br>
    <h2 class="center-text">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-container">
        <div class="centered-content">
          <% if resource.profile_picture.attached? %>
            <%= image_tag resource.profile_picture, class: "profile-image" %>
          <% else %>
            <%= image_tag "default-profile-photo.jpg", class: "profile-image" %>
          <% end %>
          <div class="field">
            <%= f.label :profile_picture %><br />
            <%= f.file_field :profile_picture%>
          </div>
        </div>
        <div class="field">
          <%= f.label :full_name %><br />
          <%= f.text_field :full_name %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="centered-content">
          <div class="field">
            <%= f.label :current_cv %><br />
            <% if resource.current_cv.attached? %>
              <%= link_to resource.current_cv.filename, rails_blob_path(resource.current_cv, disposition: 'attachment') %></br>
            <% else %>
              <p>No file attached</p>
            <% end %>
            <%= f.file_field :current_cv %>
          </div>
        </div>
        <br>
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="centered-content">
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </div>
      </div>
    <% end %>

    

    <div class="centered-content">
    <h3 class="center-text">Cancel my account</h3>
    Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    <br>
    <%= link_to "Back", :back %>
    <br>
    </div>
</body>
</html>
