<div>
  <div>
    <h1>
      List of all companies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new company
    </h2>

    <form action="/insert_company" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create company
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_companies.each do |a_company| %>
      <tr>
        <td>
          <%= a_company.id %>
        </td>

        <td>
          <%= a_company.title %>
        </td>

        <td>
          <%= a_company.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_company.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_company.updated_at) %> ago
        </td>

        <td>
          <a href="/companies/<%= a_company.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
