<div>
  <div>
    <h1>
      Coverletter #<%= @the_coverletter.id %> details
    </h1>

    <div>
      <div>
        <a href="/coverletters">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_coverletter/<%= @the_coverletter.id %>">
          Delete coverletter
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_coverletter.body %>
      </dd>

      <dt>
        Job
      </dt>
      <dd>
        <%= @the_coverletter.job_id %>
      </dd>

      <dt>
        Company
      </dt>
      <dd>
        <%= @the_coverletter.company_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_coverletter.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_coverletter.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_coverletter.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit coverletter
    </h2>

    <form action="/modify_coverletter/<%= @the_coverletter.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_coverletter.body %></textarea>
      </div>

      <div>
        <label for="job_id_box">
          Job
        </label>

        <input type="text" id="job_id_box" name="query_job_id" value="<%= @the_coverletter.job_id %>">
      </div>

      <div>
        <label for="company_id_box">
          Company
        </label>

        <input type="text" id="company_id_box" name="query_company_id" value="<%= @the_coverletter.company_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_coverletter.user_id %>">
      </div>

      <button>
        Update coverletter
      </button>
    </form>
  </div>
</div>

<hr>
